{% extends 'base.html' %}

{% block content %}



        <!--start contactus-->
        <div class="row contactus py-4">
           <p class="fs-3 text-center">Contact <b class="text-mycolor1">Us</b></p><hr class="w-25 mx-auto">
           <div class="col-sm-10 mx-auto">
            <div class="row">
                <div class="col-sm-7">
                  <form method="post">
                    {% csrf_token %}
                    <br><input type="text" class="form-control t mb-3 border-0 shadow-lg" placeholder="Name" name="name">
                    <br><input type="email" class="form-control t mb-3 border-0 shadow-lg" placeholder="Email.." name="email">
                    <br><input type="number" class="form-control t mb-3 border-0 shadow-lg" placeholder="Mobile" name="mob">
                    <textarea class="form-control ta mb-3 border-0 shadow-lg" name="msg" placeholder="Message.."></textarea>
                    <input type="submit" value="Save" class="btn bg-mycolor2">
                    </form>
                     <!--
                    {{x1}} <br/>
                    {{x2}} <br/>
                    {{x3}} <br/>
                    {{x4}} <br/>-->
                </div>
                <div class="col-sm-5 bg-dark text-info p-5">
                  <h4>Let's Get in touch</h4>
                  <!--start contactus first-->
                  <div class="row pt-2">
                    <div class="col-1">
                      <i class="fa-solid fa-location-dot iccontact"></i>
                    </div>
                    <div class="col-11">
                      <p class="ps-4">karhi sant kabir nagar Uttar Pradesh 272126</p>
                    </div>
                  </div>
                  <!--end contactus first-->
                  <!--start contactus first-->
                  <div class="row pt-2">
                    <div class="col-1">
                      <i class="fa-solid fa-location-dot iccontact"></i>
                    </div>
                    <div class="col-11">
                      <p class="ps-4">karhi sant kabir nagar Uttar Pradesh 272126</p>
                    </div>
                  </div>
                  <!--end contactus first-->

                  <!--start contactus first-->
                  <div class="row pt-2">
                    <div class="col-1">
                      <i class="fa-solid fa-location-dot iccontact"></i>
                    </div>
                    <div class="col-11">
                      <p class="ps-4">karhi sant kabir nagar Uttar Pradesh 272126</p>
                    </div>
                  </div>
                  <!--end contactus first-->
                </div>
            </div>
           </div>
        </div>
        <!--end contactus-->





{% endblock %}