{% extends 'base.html' %}

{% block content %}

 <!--start team-->
        <div class="row team">
            <div>
              <p class="fs-3 text-center">Our 
              <b class="text-mycolor1">Team</b></p>
              <hr class="w-25 mx-auto">
                <div class="col-sm-10 mx-auto">
                    <div class="row">
                        {% for r in data %}
                        <!--Start team card-->
                        <div class="col-sm-4 pt-2">
                          <div class="card mx-auto shadow-lg border-0 p-2">
                            <span class="position-absolute top-0 start-50 translate-middle badge
                             rounded-pill bg-mycolor2">{{r.experience}}</span>
                          <img src="../{{r.picture}}" class="card-img-top imgteam img-fluid " alt="...">
                          <div class="card-body">
                          <h5 class="card-title text-center">{{r.name}}</h5>
                          
                          <p class="card-text text-center">( {{r.qualification}} )</p>
                          <div class="card-text text-center">
                           {{r.mabout}}
                          </div>
                         <center> <i style="color: blue;" class="fa-brands fa-facebook fs-5"></i>
                          <i style="color: red;" class="fa-brands fa-instagram fs-5"></i>
                          <i style="color: blue;" class="fa-brands fa-twitter fs-5"></i>
                          <i style="color: red;" class="fa-brands fa-youtube fs-5"></i>
                          <i style="color: green;" class="fa-brands fa-whatsapp fs-5"></i></center>

                        
  </div>
</div>
                        </div>
                        <!--end team card-->
                        {% endfor %}
                        
                       
                </div>

            </div>
        </div>
        <!--end team-->




{% endblock %}