{% extends 'base.html' %}
{% load static %}

{% block content %}

      <!--start Why Choose Us-->

           <div class="row whyus">
             <p class="fs-3 text-center">Why <b class="text-mycolor1">Choose Us</b></p><hr class="w-25 mx-auto">
             <div class="col-sm-10 mx-auto">
                <div class="row">
                    <div class="col-sm-5">
                        <img src="{% static 'images/python.jpg' %}" class="img-fluid" >
                    </div>
                    <div class="col-sm-7">
                        <div class="row pt-2">
                            <!--start Why Choose Us first-->
                            <div class="col-sm-6">
                                <div class="row pt-1">
                                    <div class="col-3">
                                      <i class="fa-solid fa-house whyic"></i>
                                    </div>
                                    <div class="col-9">
                                      <p class="ps-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. nulla at possimus molestias exercitationem ex praesentium, nemo tenetur eum quidem qui perferendis corrupti?</p>
                                    </div>
                                </div>
                            </div>
                             <!--end Why Choose Us first-->
                             
                             <!--start Why Choose Us first-->
                            <div class="col-sm-6">
                                <div class="row pt-1">
                                    <div class="col-3">
                                      <i class="fa-solid fa-house whyic"></i>
                                    </div>
                                    <div class="col-9">
                                      <p class="ps-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. nulla at possimus molestias exercitationem ex praesentium, nemo tenetur eum quidem qui perferendis corrupti?</p>
                                    </div>
                                </div>
                            </div>
                             <!--end Why Choose Us first-->
                        </div>
                        <div class="row pt-1">
                           <!--start Why Choose Us first-->
                            <div class="col-sm-6">
                                <div class="row pt-5">
                                    <div class="col-3">
                                      <i class="fa-solid fa-house whyic"></i>
                                    </div>
                                    <div class="col-9">
                                      <p class="ps-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. nulla at possimus molestias exercitationem ex praesentium, nemo tenetur eum quidem qui perferendis corrupti?</p>
                                    </div>
                                </div>
                            </div>
                             <!--end Why Choose Us first-->

                           <!--start Why Choose Us first-->
                            <div class="col-sm-6">
                                <div class="row pt-5">
                                    <div class="col-3">
                                      <i class="fa-solid fa-house whyic"></i>
                                    </div>
                                    <div class="col-9">
                                      <p class="ps-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. nulla at possimus molestias exercitationem ex praesentium, nemo tenetur eum quidem qui perferendis corrupti?</p>
                                    </div>
                                </div>
                            </div>
                             <!--end Why Choose Us first-->
                        </div>
                    </div>
                </div>
             </div>
           </div>

        <!--end Why Choose Us-->
{% endblock %}